@font-face {
	font-family: 'groove style';
	src: url('./groove.ttf') format('truetype');
}
@font-face{
	font-family: 'Noble Scarlet';
	src: url('./msyhl.ttc') format('truetype');
	font-weight: 200
}
@font-face{
	font-family: 'Noble Scarlet';
	src: url('./msyh.ttc') format('truetype');
	font-weight: 400
}
@font-face{
	font-family: 'Noble Scarlet';
	src: url('./msyhbd.ttc') format('truetype');
	font-weight: 600
}

html,body{
	margin: 0;
	width: 100%;
	height: 100%;
}
body{
	display: flex;
	font-family: 'Noble Scarlet';
	-webkit-user-select: none;
	overflow: hidden;
}

::-webkit-scrollbar{  
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-track {
	background-color: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover{
	background-color: rgba(0,0,0,0.3);
}

.filler{
	flex: auto;
	pointer-events: none;
}

button{
	-webkit-app-region: no-drag;
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	cursor: pointer;
	background-color: rgba(0,0,0,0);
	color: inherit;
}

button.play::after{
	content: '\e768';
}
button.pause::after{
	content: '\e769';
}
button.remove::after{
	content: '\e711';
}
button.add::after{
	content: '\e710';
}
button.previous::after{
	content: '\e892';
}
button.next::after{
	content: '\e893';
}
button.random::after{
	content: '\e8b1';
}
button.cycle::after{
	content: '\e8ee';
}
button.cycle.single::after{
	content: '\e8ed';
}
button.list::after{
	content: '\e93f';
}
button.fullscreen::after{
	content: '\e740';
}
button.fullscreen.on::after{
	content: '\e73f';
}
button.download::after{
	content: '\e896';
}
button.fold::after{
	content: '\e70d';
}

button.close::after{
	content: '\e711';
}
button.minimize::after{
	content: '\e738';
}
button.back::after{
	content: "\e72b";
}
button.search::after{
	content: "\e721";
}
button.explore::after{
	content: "\e942";
}
button.user::after{
	content: "\e940";
}
button.playlist::after{
	content: "\e90b";
}
button.album:after{
	content:"\e93c";
}
button.artist::after{
	content: "\e77b";
}
button.setting::after{
	content:"\e713";
}