@font-face {
	font-family: 'groove style';
	src: url('./groove.ttf') format('truetype');
}
@font-face{
	font-family: 'Noble Scarlet';
	src: url('./msyhl.ttc') format('truetype');
	font-weight: 200
}
@font-face{
	font-family: 'Noble Scarlet';
	src: url('./msyh.ttc') format('truetype');
	font-weight: 400
}
@font-face{
	font-family: 'Noble Scarlet';
	src: url('./msyhbd.ttc') format('truetype');
	font-weight: 600
}
