
#titlebar{
	display: block;
	position: fixed;
	top: 0px;
	left: 48px;
	height: 80px;
	width: calc(100% - 48px);
	padding: 9px 24px 0 24px;
	box-sizing: border-box;
	background-color: #ffffff;
	z-index: 5;
	-webkit-app-region: drag;
}
#titlebar #subtab{
	margin-top: 3px;
	font-size: 14px;
	color: #888888;
	white-space: nowrap;
}
#maintab li{
	list-style-type:none;
	display: inline-block;
	font-size: 26px;
	margin-right: 6px;
	cursor: pointer;
	-webkit-app-region: no-drag;
	color: #d6d6d6;
	letter-spacing: -2px;
}
#maintab li.focus{
	/*color: #444444;*/
	color: #000000;
	/*font-weight: bold;*/
}
#subtab li{
	list-style-type:none;
	display: inline-block;
	cursor: pointer;
	-webkit-app-region: no-drag;
	color: #dcdcdc;
}
#subtab li:hover{
	color: #a3a3a3;
}
#subtab li.focus{
	color: #888888;
}
#subtab span{
	margin: 0 4px;
	color: #dcdcdc;
}



#titlebar button{
	position: absolute;
	width: 48px;
	height: 48px;
	font-family: 'groove style';
	top: 0px;
	cursor: pointer;
	color: #000000;
}
#titlebar button.close{
	right: 0;
	font-size: 14px;
}
#titlebar button.minimize{
	right: 48px;
	font-size: 11px;
}
#titlebar button.close:hover{
	background-color: #e81123;
	color: #ffffff;
}
#titlebar button.minimize:hover{
	background-color: #e7e7e7;
}


container{
	height: calc(100% - 80px);
	flex: auto;
	margin-top: 80px;
	padding: 0 8px 64px 8px;
	overflow: auto;
	box-sizing: border-box;
	display: inline-block;
	background-color: #ffffff;
	/*display: flex;*/
	/*flex-wrap: wrap;*/
	/*align-content: flex-start;*/
	/*justify-content: space-between;*/
	
}
container>.playlist,
container>.album,
container>.artist
{
	display: inline-block;
	vertical-align: top;
	margin: 0 4px 16px 4px;
	width: 168px;
	height: 233px;
	box-sizing: border-box;
	padding: 5px;
	
	/*flex-grow: 1;*/
	/*vertical-align: top;*/

	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-webkit-animation-iteration-count: 1;
}
@-webkit-keyframes slide-top {
	0% {
		-webkit-transform: translateY(40px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0px);
		opacity: 1;
	}
}

.playlist>.cover,
.album>.cover,
.artist>.cover
{
	position: relative;
	z-index: -1;
	height: 158px;
	width: 158px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.playlist>.cover::before,
.album>.cover::before,
.artist>.cover::before,
.playlist>.cover::after,
.album>.cover::after,
.artist>.cover::after
{
	content: "";
	position: absolute;
	background-image: inherit;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.playlist>.cover::before,
.album>.cover::before,
.artist>.cover::before{
	width: 94%;
	height: 94%;
	left: 3%;
	top: 10%;
	filter: blur(12px);
	opacity: 0;
	transition: opacity 80ms linear;
}

.playlist:hover>.cover::before,
.album:hover>.cover::before,
.artist:hover>.cover::before{
	opacity: 1;
}

.playlist:hover button,
.album:hover button,
.artist:hover button{
	opacity: 1;
}

.cover button{
	position: relative;
	text-align: center;
	font-family: "groove style";
	font-size: 20px;
	line-height: 48px;
	width: 48px;
	height: 48px;
	color: white;
	margin: 0 4px;
	border-radius: 50%;
	background: inherit;
	z-index: 1;
	overflow: hidden;
	transition: all 80ms linear;
	/*visibility: hidden;*/
	opacity: 0;
	cursor: pointer;
}
.cover button:hover{
	width: 54px;
	height: 54px;
	margin: 0 1px;
}
.cover button:active{
	width: 48px;
	height: 48px;
	margin: 0 4px;
}
.cover button::before{
	content: "";
	position: absolute;
	width: 158px;
	height: 158px;
	z-index: -1;
	background: inherit;
	transition: all 80ms linear;
	filter: blur(15px) brightness(0.8);
}
.cover button.play:hover::before{
	left: -24px;
	top: -52px;
}
.cover button.add:hover::before{
	left: -80px;
	top: -52px;
}
.cover button.play::before,
.cover button.play:active::before{
	left: -27px;
	top: -55px;
}
.cover button.add::before,
.cover button.add:active::before{
	left: -83px;
	top: -55px;
}

.playlist>.name,
.album>.name,
.artist>.name{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	margin-top: 7px;
	font-weight: bold;
	font-size: 14px;
	color: #000000;
	cursor: default;
}

.playlist>.description,
.album>.description,
.artist>.description{
	display: inline-block;
	line-height: 16px;
	color: #666666;
	margin-top: 3px;
	font-size: 13px;
	cursor: pointer;
}
.playlist>.description:hover,
.album>.description:hover,
.artist>.description:hover{
	color: #858585;
}
























container>.detail{
	position: relative;
	overflow: hidden;
	height: 0px;
	/*-webkit-transition: height 0.2s ease-out;*/
	-webkit-transition-property:height;
	-webkit-transition-timing-function:linear;
}

container>.detail::before{
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: calc(100% - 13px);
	border-top: 1px solid #e2e2e5;
	border-bottom: 1px solid #e2e2e5;
	background-color: #f8f9fb;
}
.detail>.point{
	position: absolute;
	width: 0;
	height: 0;
	border: 12px solid transparent;
	border-bottom-color: #e2e2e5;
	transform: translateX(134px);
	-webkit-transition: transform 0.2s ease-out;
	top: -12px;
}
.detail>.point::after{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border: 12px solid transparent;
	border-bottom-color: #f8f9fb;
	top: -10px;
	left: -12px;
}
.detail>.point.first{
	transform: translateX(134px);
}
.detail>.point.second{
	transform: translateX(398px);
}
.detail>.point.third{
	transform: translateX(662px);
}
.detail>.point.fourth{
	transform: translateX(926px);
}


.detail>.cover{
	position: absolute;
	top: 38px;left: 48px;
	height: 360px;
	width: 360px;
	background-position: center;
	background-size: cover;
	border-radius: 4px;
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.4);
}

.detail>.title,.detail>.owner,.detail>.track{
	position: relative;
	margin-left: 460px;
}
.detail>.title,.detail>.owner{
	width: 560px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.detail>.title{
	font-weight: bold;
	font-size: 24px;
	margin-top: 32px;
	margin-bottom: 2px;
}
.detail>.owner{
	font-weight: normal;
	font-size: 22px;
	margin-bottom: 12px;
}
.detail>.track{
	margin-bottom: 28px;
	min-height: 307px;
	max-height: 409px;
	overflow: auto;
}
.detail>.track::-webkit-scrollbar{
	width: 8px
}

.detail>.track>.entry{
	height: 50px;
	width: 560px;
	display: block;
	position: relative;
	border-bottom: 1px solid #e6e5e6;
	cursor:pointer;
}
.detail>.track>.entry:first-of-type{
	border-top: 1px solid #e6e5e6;
}
.detail>.track>.entry.unable *{
	opacity: 0.5;
}
.detail>.track>.entry.unable{
	cursor: default;
}

.detail>.track>.entry>.index,
.detail>.track>.entry>.song,
.detail>.track>.entry>.artist,
.detail>.track>.entry>.duration
{
	position: absolute;
	display: inline-block;
	overflow: hidden;
	color: #000000;
}
.detail>.track>.entry>.song,
.detail>.track>.entry>.artist
{
	text-overflow: ellipsis;
	white-space: nowrap;
}
.detail>.track>.entry.playing>.index,
.detail>.track>.entry.playing>.song,
.detail>.track>.entry.playing>.artist,
.detail>.track>.entry.playing>.duration{
	color: inherit;
}

/*.detail>.track>.entry:hover>button{
	opacity: 1;
	visibility: visible;
}
.detail>.track>.entry:hover>.index{
	opacity: 0;
	visibility: hidden;
}
.detail>.track>.entry.unable:hover>.index{
	opacity: 1;
	visibility: visible;
}

.detail>.track>.entry>button{
	position: absolute;
	top: 0px;left: 0px;
	width: 36px;
	height: 50px;
	opacity: 0;
	visibility: hidden;
	cursor: pointer;
	font-family: "groove style";
	text-align: left;
	font-size: 18px;
}*/

.detail>.track>.entry>.index{
	width: 36px;
	height: 50px;
	line-height: 50px;
	top: 0;left: 0;
	opacity: 0.54;
	font-size: 12px;
}
.detail>.track>.entry>.index:after{
	content: attr(text);
}
.detail>.track>.entry.playing .index{
	opacity: 0.8;
	font-size: 14px;
}
.detail>.track>.entry.playing .index::after{
	content: "\e93d";
	font-family: "groove style";
}
.detail>.track>.entry>.song,
.detail>.track>.entry>.artist{
	left: 36px;
	width: 280px;
	font-size: 14px;
}
.detail>.track>.entry>.song{
	font-weight: bold;
	top: 5px;
}
.detail>.track>.entry>.artist{
	bottom: 5px;
}
.detail>.track>.entry>.duration{
	width: 36px;
	height: 50px;
	line-height: 50px;
	top: 0;right: 0;
	font-size: 12px;
	text-align: right;
	opacity: 0.54;
}


#mask{
	position: absolute;
	top: 0;left: 0;
	width: 100%;height: 100%;
	background-color: rgba(0,0,0,0.2);
	z-index: 20;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
}
#mask.active{
	opacity: 1;
	visibility: visible;
}
#mask.active #dialog{
	transform: scale(1);
}
#mask,#dialog{
	-webkit-transition:all 0.2s ease-out;
}

#dialog{
	width: 440px;
	background-color: #ffffff;
	font-family: "Microsoft Yahei";
	box-sizing: border-box;
	padding: 0px 24px 24px 24px;
	border-radius: 2px;
	transform: scale(0.8);
}
#dialog #message{
	color: #333333;
	width: 100%;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	padding: 36px 0;
}

#dialog button.option{
	width: 190px;
	height: 40px;
	font-size: 16px;
	font-family: "Microsoft Yahei";
	display: inline-block;
	border-radius: 2px;
	cursor: pointer;
}
.option.prefer{
	margin-right: 12px;
	color: #ffffff;
	background-color: #3c3c3c;
}
.option.prefer:hover{
	background-color: #303030;
}
.option.alter{
	color: #333333;
	background-color: #eeeeee;
}
.option.alter:hover{
	background-color: #e1e1e1;
}