sidebar{
	display: inline-block;
	width: 260px;
	height: 100%;
	position: relative;
	-webkit-app-region: drag;
	background-color: rgb(245,245,245);
}
nav{
	position: absolute;
	top: 10px;
	width: 100%;
}
.cell{
	-webkit-app-region: no-drag;
	height: 48px;
	line-height: 48px;
	font-size: 16px;
	padding-left: 24px;
	color: #535353;
	cursor: pointer;
	-webkit-transition:all 0.08s linear;
}
.cell.active{
	border-left: 4px solid #535353;
	padding-left: 20px;
}
.cell:hover{
	background-color: rgba(0,0,0,0.08);
}
.cell:active{
	background-color: rgba(0,0,0,0.12);
}