.sidebar{
	-webkit-app-region: drag;
	width: 48px;
	height: 100%;
	box-sizing: border-box;
	padding-bottom: 72px;
	background-color: rgba(255,255,255,0.6);
	display: flex;
	flex: none;
	flex-direction: column;
}
.sidebar button{
	position: relative;
	-webkit-app-region: no-drag;
	width: 48px;
	height: 48px;
	line-height: 48px;
	font-size: 1em;
	color: #000000;
	cursor: pointer;
	flex-grow: 0;
	flex-shrink: 0;
}
.sidebar button.active::before{
	content: "";
	position: absolute;
	left: 0;
	height: 100%;width: 4px;
	background-color: #484848;
}
.sidebar button:hover{
	background-color: rgba(0,0,0,0.08);
}
.sidebar button:active{
	background-color: rgba(0,0,0,0.12);
}
.sidebar button::after{
	font-family: "groove style";
}